/* =============
    Index Medium
============= */
#indexMedium {
    background-color: $off-white;

    > div {
        article {
            h2 {
                color: $primary-dark-blue;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 16px;
                @include md {
                    grid-template-columns: repeat(3,1fr);
                    grid-gap: 24px;
                }

                li {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 16px;
                    background-color: $primary-dark-blue;
                    box-shadow: 0 5px 3px -3px rgba(19, 22, 24, .06), 0 3px 14px 2px rgba(19, 22, 24, .12), 0 8px 10px 1px rgba(19, 22, 24, .04);
                    transition: all 0.25s ease-in-out;
                    cursor: pointer;

                    h2 {
                        margin: 0;
                        line-height: rem-calc(0);

                        a {
                            margin: 0;
                            height: 100%;
                            color: $white;
                        }

                        a:link,
                        a:visited {
                            color: $white;
                        }
                    }

                    a {
                        height: 144px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        @include md {
                            height: 168px;
                        }
                        @include lg {
                            height: 240px;
                        }

                        h2 {
                            color: $white;
                            font-weight: 700;
                            line-height: rem-calc(0);
                            @include md {
                                font-size: rem-calc(24);
                                letter-spacing: rem-calc(0.38);
                            }
                            @include lg {
                                font-size: rem-calc(32);
                                letter-spacing: rem-calc(0.72);
                            }
                        }
                    }
                }

                li:nth-child(1) {
                    background-image: url("../img/index/button1.svg");
                    @include lg {
                        &:hover {
                            background-color: $secondary-turquoise-dark1;
                        }
                    }
                }

                li:nth-child(2) {
                    background-image: url("../img/index/button2.svg");
                    @include lg {
                        &:hover {
                            background-color: $secondary-red;
                        }
                    }
                    background-color: #AC0321;
                }

                li:nth-child(3) {
                    background-image: url("../img/index/button3.svg");
                    @include lg {
                        &:hover {
                            background-color: $secondary-purple-light1;
                        }
                    }
                    background-color: #382468;
                }
                @include lg {
                    li:hover {
                        box-shadow: 0 10px 8px -8px rgba(19, 22, 24, .04), 0 8px 19px 7px rgba(19, 22, 24, .10), 0 13px 15px 6px rgba(19, 22, 24, .02);
                        transform: translate(0px, -4px) scale(1.04);
                        transition: all 0.25s ease-in-out;

                        a {
                            opacity: 1;
                        }
                    }

                    li:active {
                        transition: all 0.1s ease-in-out;
                        opacity: 0.85;
                    }
                }
            }
        }
    }
}
