/* =============
    Environment Hero
============= */
#envWayfinding {
    background-color: $off-white;
    > div {
        article {
            h2 {
                color: $secondary-purple-dark2;
            }
            div:nth-child(2) {
                grid-template-rows: repeat(3,auto);
                grid-template-areas: "ul1" "ul2" "source";
                @include md {
                    grid-template-rows: repeat(2,auto);

                    grid-template-areas: "ul1 ul1 ul1 ul2 ul2 ul2" "source source source . . .";

                }
                @include lg {
                    grid-template-rows: repeat(2,auto);

                    grid-template-areas: "ul1 ul1 ul1 . ul2 ul2 ul2 . ."
                    "source source source . ul2 ul2 ul2 . .";


                }
                h3{
                    color: $secondary-purple-dark2;
                    @include margin(null,null,0px,null);

                }
                ul{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    grid-gap: 16px;

                }
                ul:nth-child(1){
                    grid-template-rows: repeat(3,auto);
                    @include md{
                        li:nth-child(1){
                            height: 32px;
                        }
                        li:last-of-type{
                            height: 160px
                        }

                    }
                    @include lg{
                        li:last-of-type{
                            height: 160px
                        }

                    }
                    @include xl{
                        li:last-of-type{
                            height: 112px
                        }

                    }

                }
                ul:nth-child(2){
                    grid-template-rows: repeat(4,auto);
                    @include md{
                        li:nth-child(1){
                            height: 32px;
                        }
                    }

                }
                p {
                    a {
                        color: $secondary-purple-dark2;
                    }

                    a:link,
                    a:visited {
                        color: $secondary-purple-dark2;
                    }

                    a:active,
                    a:hover {
                        color: $secondary-purple;
                    }
                }

                ul:nth-child(1) {
                    grid-area: ul1;
                }

                ul:nth-child(2) {
                    grid-area: ul2;
                }

                p:nth-child(3) {
                    grid-area: source;
                }
            }

        }
    }
}
