/* =============
    Environment Resources
============= */
#envResources {
    background-color: $secondary-purple-dark2;

    > div {
        article {
            h2 {
                color: $white;
            }

            ul {
                li {
                    background-image: url("../img/environment/envButtonHalftone1.svg");
                    background-color: $secondary-purple;
                    background-size: 2% auto;

                    p {
                        a {
                            font-family: 'Montserrat', sans-serif;

                        }
                    }
                }
                li:link,
                li:visited {

                    background-image: url("../img/environment/envButtonHalftone1.svg");
                    background-color: $secondary-purple;
                    background-size: 2% auto;
                }
                @include lg {
                    li:hover{
                        background-size: 1.85% auto;
                    }
                    li:active {
                        background-color: $secondary-purple-dark1;
                        background-size: 1.25% auto;

                    }
                }
            }
        }
    }
}
