/* =============
    Print Best Practices
============= */
#printBestPractices {
    > div {
        article {
            h2 {
                color: $secondary-turquoise-dark2;
            }

            div:nth-child(2) {
                grid-template-rows: repeat(11,auto);
                grid-template-areas: "p1" "p2" "p3" "svg1" "p4" "p5" "svg2" "svg3" "p6" "p7" "source";
                @include md {
                    grid-template-rows: repeat(7,auto);
                    grid-template-areas:
                    "p1 p1 p1 svg1 svg1 ."
                    "p2 p2 p2 svg1 svg1 ."
                    "p3 p3 p3 svg1 svg1 ."
                    "p4 p4 p4 p6 p6 p6"
                    "p5 p5 p5 p7 p7 p7"
                    "svg2 svg2 svg3 svg3 . ."
                    "source source source . . .";

                }
                @include lg {
                    grid-template-areas:
                    "p1 p1 p1 . svg1 svg1 svg1 svg1 ."
                    "p2 p2 p2 . svg1 svg1 svg1 svg1 ."
                    "p3 p3 p3 . svg1 svg1 svg1 svg1 ."
                    ". . . . svg1 svg1 svg1 svg1 ."
                    ". . . . . . p6 p6 p6"
                    ". . p4 p4 p4 . p7 p7 p7"
                    ". . p5 p5 p5 . . . ."
                    ". . source source source . . . ."
                    ". svg2 svg2 svg2 svg2 svg3 svg3 svg3 svg3"
                    ;

                }

                p {
                    span {
                        color: $secondary-turquoise-dark2;
                    }

                    a {
                        color: $secondary-turquoise-dark2;
                    }

                    a:link,
                    a:visited {
                        color: $secondary-turquoise-dark2;
                    }

                    a:active,
                    a:hover {
                        color: $primary-dark-blue;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 80%;
                        @include md {
                            height: 160px;
                            width: auto;
                        }
                    }
                }

                p:nth-child(1) {
                    grid-area: p1;
                }

                p:nth-child(2) {
                    grid-area: p2;
                }

                p:nth-child(3) {
                    grid-area: p3;
                }

                div:nth-child(4) {
                    grid-area: svg1;
                    @include md{
                        align-items: flex-end;
                        justify-content: flex-start;
                    }
                    @include md{
                        align-items: flex-start;
                    }
                    svg {
                        @include md{
                            height: 240px;
                        }
                        @include lg{
                            height: 440px;
                        }
                    }
                }

                p:nth-child(5) {
                    grid-area: p4;
                }

                p:nth-child(6) {
                    grid-area: p5;
                }

                div:nth-child(7) {
                    grid-area: svg2;
                    @include md{
                        align-items: flex-start;
                        justify-content: flex-end;
                    }
                    svg {
                        height: 200px;
                        @include lg{
                            height: 264px;
                        }

                    }
                }

                div:nth-child(8) {
                    grid-area: svg3;
                    @include md{
                        align-items: flex-start;
                        justify-content: flex-start;
                    }
                    svg {
                        height: 200px;
                        @include lg{
                            height: 264px;
                        }

                    }
                }

                p:nth-child(9) {
                    grid-area: p6;
                }

                p:nth-child(10) {
                    grid-area: p7;
                }

                p:nth-child(11) {
                    grid-area: source;
                }
            }
        }
    }
}
