/* =============
    Print Resources
============= */
#printResources {
    background-color: $primary-dark-blue-dark2;

    > div {
        article {
            h2 {
                color: $white;
            }

            ul {
                li {
                    background-image: url("../img/print/printButtonHalftone1.svg");
                    background-color: $primary-dark-blue;
                    background-size: 3.25% auto;
                    p {
                        a {
                            font-family: 'Montserrat', sans-serif;

                        }
                    }
                }
                li::after{
                    background-color: $white;
                    height: 100%;
                    width: 100%;
                }
                li:link,
                li:visited {
                    background-color: $primary-dark-blue;

                    p {
                    }
                }
                @include lg {
                    li:hover{
                        background-size: 2.75% auto;
                        background-color: $secondary-turquoise-dark1;


                    }
                    li:active {
                        background-size: 2% auto;

                        background-color: $secondary-turquoise-dark2;
                    }
                }
            }
        }
    }
}
