/* =============
    Print Resources
============= */
#printResources {
    background-color: $primary-dark-blue-dark2;

    > div {
        article {
            h2 {
                color: $white;
            }

            ul {
                li {
                    background-image: url("../img/print/printButtonHalftone.svg");
                    background-color: $primary-dark-blue;

                    p {
                        a {
                        }
                    }
                }
                li:link,
                li:visited {
                    background-color: $primary-dark-blue;

                    p {
                    }
                }
                @include lg {
                    li:active {
                        background-color: $secondary-turquoise-dark2;
                    }
                }
            }
        }
    }
}
