/* =============
    Web UXLeaders
============= */
#webUXLeaders {
    background-color: $off-white;

    > div {
        article {
            h2 {
                color: $secondary-red-dark2;
            }

            ul {
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-gap: 16px;
                grid-template-areas: "pablo" "halli" "fiona";
                @include md {
                    grid-template-columns: repeat(2,1fr);
                    grid-gap: 24px;
                    grid-template-areas: "pablo halli" "fiona fiona";
                }
                @include lg{
                    grid-template-columns: repeat(3,1fr);

                    grid-template-areas: "pablo halli fiona";

                }

                li {
                    background-color: $white;
                    border-radius: 16px;

                    figure {
                        border-radius: 16px 16px 0 0;
                        height: 200px;
                        background-color: $secondary-red-light2;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include sm {
                            height: 400px;
                        }
                        @include md {
                            height: 240px;
                        }
                        @include lg{
                            height: 216px;
                        }
                        @include xl{
                            height: 240px;
                        }
                    }

                    div {
                        @include padding(16px,16px,16px,16px);
                        @include sm {
                            @include padding(24px,24px,24px,24px);
                        }

                        p:nth-child(2) {}

                        p:nth-child(3) {}
                    }
                }

                li:nth-child(1) {
                    grid-area: pablo;

                    figure {
                        background-image: url("../img/web/webCardPablo.png");
                        background-size: 140% auto;
                        background-position: 80% top;
                        @include md {
                            background-size: 150% auto;
                        }
                    }
                }

                li:nth-child(2) {
                    grid-area: halli;

                    figure {
                        background-image: url("../img/web/webCardHalli.png");
                        background-size: 200% auto;
                        background-position: 60% top;
                    }
                }

                li:nth-child(3) {
                    grid-area: fiona;
                    @include md {
                        @include margin(0px, 25%, 0px, 25%);
                    }
                    @include lg{
                        @include margin(0px,0px, 0px,0px);

                    }

                    figure {
                        background-image: url("../img/web/webCardFiona.png");
                        background-size: 140% auto;
                        background-position: 50% 20%;
                    }
                }
            }
        }
    }
}
