/* =============
    Web Hero
============= */
#webHero {
    background-color: $secondary-red;
    background-image: url("../img/web/webHero.png");
    background-position: center top;
    @include sm{
        background-position: left top;
    }
    @include lg {
        height: 64vh;
        background-position: left 20%;
    }

    > div {
        article {
            h1 {}
        }
    }
}
