/* =============
    Web Resources
============= */
#webResources {
    background-color: $secondary-red-dark2;

    > div {
        article {
            h2 {
                color: $white;
            }

            ul {
                li {
                    background-image: url("../img/web/webButtonHalftone1.svg");
                    background-color: $secondary-red-dark2;
                    background-size: 3.75% auto;


                    p {
                        a {
                        }
                    }
                }
                li:link,
                li:visited {
                    background-color: $secondary-red-dark2;

                    p {
                    }
                }
                @include lg {
                    li:hover{
                        background-size: 3.5% auto;
                        background-color: $secondary-red-dark1;

                    }
                    li:active {
                        background-color: $secondary-red;
                    }
                }
            }
        }
    }
}
