/* =============
    Footer
============= */
footer {
    color: $white;
    background-color: $grey-dark;
    >div{
        aside{
            @include margin(null, null, 8px, null);
            svg{
                width: 64px;
                .cls-2, #D{
                    fill: $white;
                }
            }
        }
        article{
            @include md{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;

            }
            ul{
                li{
                    @include margin(null,null,8px,null);
                    a{
                        display: block;
                        color: $white;
                        @include padding(24px, null, 24px, null);
                        @include lg{
                            @include padding(20px, null, 20px, null);

                        }

                        h3{
                            font-weight: 600;
                            line-height: rem-calc(0);
                            @include margin(0px,0px,0px,0px);

                        }
                    }
                    a:link, a:visited{
                        color: $white;
                    }
                    a:hover, a:active{
                        color: $tertiary-amber;
                    }
                }
                li:last-of-type{
                    @include margin(0px,0px,0px,0px);
                }
            }
            p{

            }
        }
    }
}
