/* =============
    Cards
============= */
.card-person {
	background-color: $white;
	border-radius: 16px;
	transition: all 0.25s ease-in-out;
	box-shadow: 0 5px 3px -3px rgba(19, 22, 24, .06), 0 3px 14px 2px rgba(19, 22, 24, .12), 0 8px 10px 1px rgba(19, 22, 24, .04);


	&:hover {
		box-shadow: 0 10px 8px -8px rgba(19, 22, 24, .04), 0 8px 19px 7px rgba(19, 22, 24, .10), 0 13px 15px 6px rgba(19, 22, 24, .02);
		transform: translate(0px, -4px) scale(1.04);
		transition: all 0.25s ease-in-out;

		figure{
			opacity: 0.9;

		}
	}

	a {
		color: $black;
		figure {
			border-radius: 16px 16px 0 0;
			height: 28vh;
			min-height: 200px;
			background-color: $blank;
			background-position: center;
			background-repeat: no-repeat;
			@include sm {
				height: 400px;
			}
			@include md {
				height: 240px;
			}
			@include lg {
				height: 216px;
			}
			@include xl {
				height: 240px;
			}
		}

		div {
			@include padding(16px,16px,16px,16px);
			@include sm {
				@include padding(24px,24px,24px,24px);
			}

			p:nth-child(2) {}

			p:nth-child(3) {}
		}
	}
}
