/* =============
    Nav Background
============= */
#nav-bg {
    background-color: $grey-dark;
    height: 50px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 900;
    // @include dark {
    //     background-color: $black;
    // }

    svg {
        background-color: $blank;

        circle {
            fill: $grey-dark;
            // @include dark {
            //     fill: $black;
            // }

        }
    }
}
